name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    Linter:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Set up python
          uses : actions/setup-python@v3
          with:
            python-version: 3.11

        - name: Install pre-commit
          run : |
            python -m pip install --upgrade pip
            pip install pre-commit

        - name: Run pre-commit
          run: |
            pre-commit run --all-files
    Tests:
        runs-on: ubuntu-latest

        services:
          mysql:
            image: mysql:8.0
            env:
              MYSQL_ROOT_PASSWORD: root
              MYSQL_DATABASE: hair_cut_test
              MYSQL_USER: fast_api
              MYSQL_PASSWORD: fast_api

            ports:
              - 3306:3306

            options: >-
              --health-cmd="mysqladmin ping --silent"
              --health-interval=10s
              --health-timeout=5s
              --health-retries=5


        env:
          DATABASE_USER: fast_api
          DATABASE_PASSWORD: root
          DATABASE_HOST: 127.0.0.1
          DATABASE_PORT: 3306
          DATABASE_ENGINE: mysql+pymysql

        steps:
        - uses: actions/checkout@v4

        - name: Set Up python
          uses: actions/setup-python@v3
          with:
            python-version: 3.11

        - name: Install Dependencies
          run : |
            python -m pip install --upgrade pip
            pip install -r requirements/local.txt

        - name: Wait for MySQL
          run: |
            sudo apt-get install -y mysql-client
            until mysqladmin ping -h 127.0.0.1 --silent; do
              echo "Waiting for MySQL..."
              sleep 2
            done
